
<ul class="pagination">
    <li  data-ng-class="{disabled: 1 == activePage}"><a href="" data-ng-click="firstPage()">First</a></li>
    <li data-ng-class="{disabled: 1 == activePage}"><a href="" data-ng-click="prevPage()">Previous</a></li>

    <li data-ng-repeat="i in pagesArr track by $index" data-ng-class="{active: $index+1 == activePage  }">
        <a href=""  data-ng-click="setStartPage($index+1)">{{$index + 1}}</a>
    </li>

    <li data-ng-class="{disabled: pagesArr.length == activePage}"><a href="" data-ng-click="nextPage()">Next</a></li>
    <li  data-ng-class="{disabled: pagesArr.length == activePage}"><a href="" data-ng-click="lastPage(pagesArr.length)">Last</a></li>
</ul>