	<div class="bs-component ">
		
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">My ads</h3>
			</div>
			<div class="panel-body" >
				<p class="bs-component" >
					<a href="" data-ng-click="selectAdStatus()" class="btn btn-primary" data-ng-class="{active: 'all' == adStatus}" >All</a>
				</p>	
				<p class="bs-component" >
					<a href="" data-ng-click="selectAdStatus('published')" class="btn btn-primary" data-ng-class="{active: 'published' == adStatus}" >Published</a>
				</p>
				<p class="bs-component" >
					<a href="" data-ng-click="selectAdStatus('WaitingApproval')" class="btn btn-primary" data-ng-class="{active: 'WaitingApproval' == adStatus}" >Waiting Approval</a>
				</p>
				<p class="bs-component" >
					<a href="" data-ng-click="selectAdStatus('Inactive')" class="btn btn-primary" data-ng-class="{active: 'Inactive' == adStatus}" >Inactive</a>
				</p>
				<p class="bs-component" >
					<a href="" data-ng-click="selectAdStatus('Rejected')" class="btn btn-primary" data-ng-class="{active: 'Rejected' == adStatus}" >Rejected</a>
				</p>
				
			</div>
		</div>
	</div>


	