<div class='container'>
	<div class='row'>
		<div class='col-lg-12'>
			<div class='panel panel-success'>
				<div class='panel-body'>
					<form name='formpassword'>
						<fieldset>
							<div class='panel-heading centered'>
								<legend>Change password</legend>
							</div>
							<div class='form-group'>
								<div class='col-lg-12'>
									<label class=' control-label' for='oldpassword'>Old password:</label>
									<div class='form-input'>
										<input type='password' placeholder="Old Password" id='oldpassword' data-ng-model='userPassword.oldPassword' class='form-control' name='oldpass' ng-minlength="2" ng-maxlength="20" ng-required="true">
										<div class="errors" ng-class="{ active: formpassword.oldpass.$invalid && formpassword.$dirty }">
											<div class="error ng-hide" ng-show="formpassword.oldpass.$error.minlength">
												<span>Password  is longer than 2 characters.</span>
											</div>
											<div class="error ng-hide" ng-show="formpassword.oldpass.$error.maxlength">
												<span>Max password length is 20, please shorten it.</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class='form-group'>
								<div class='col-lg-12'>
									<label class=' control-label' for='newpassword'>New password:</label>
									<div class='form-input'>
										<input type='password' placeholder="New Password" id='newpassword' data-ng-model='userPassword.newPassword' class='form-control' name='newpass' ng-minlength="2" ng-maxlength="20" ng-required="true" password-match="userPassword.confirmPassword">
										<div class="errors" ng-class="{ active: formpassword.newpass.$invalid }">
											<div class="error ng-hide" ng-show="formpassword.newpass.$error.minlength">
												<span>For your own safety, use a password longer than 2 characters.</span>
											</div>
											<div class="error ng-hide" ng-show="formpassword.newpass.$error.maxlength">
												<span>Max password length is 20, please shorten it.</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class='form-group'>
								<div class='col-lg-12'>
									<label class=' control-label' for='confirmpassword'>Confirm New password:</label>
									<div class='form-input'>
										<input type='password' placeholder="Confirm New Password" id='confirmpassword' data-ng-model='userPassword.confirmPassword' class='form-control' name='confirmpass'  ng-required="true" >
										<div class="errors" ng-class="{ active: formpassword.confirmpass.$invalid }">
											<div class="error ng-hide" ng-show="formpassword.newpass.$error.match">
												<span>Passwords do not match.</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class='form-group'>
								<div class='col-lg-6 form-button top-buffer'>
									<a type="submit" class="btn btn-primary" data-ng-click="changeUserPassword(userPassword,formpassword)" ng-class="{ 'btn-primary': formpassword.$valids && formpassword.$dirty, 'btn-success': redirect }"
									ng-disabled="formpassword.$invalid || formpassword.$pristine || xhr || redirect">Change Password</a>
								</div>
								<div class='col-lg-4 col-lg-offset-1 top-buffer'>
									<a href='' data-ng-click="DeletePasswordUpdate()" class="btn btn-primary "
									ng-class="{ 'btn-primary': formpassword.$valids && formpassword.$dirty, 'btn-success': redirect }"
									ng-disabled="formpassword.$invalid || formpassword.$pristine || xhr || redirect">Cancel</a>
								</div>
							</div>

						</fieldset>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>


