<img src="imgs/load.gif"  data-ng-hide="ready" alt="">
<div  ng-repeat="ad in userAds" data-ng-cloak>
	<div class='container well'>
		<div class='row'>
			<div class='col-lg-9'>
				<div class='row'>
					<div class='col-md-7'>
						<h3 class='pull-left'>
							{{ad.title}}
						</h3>
					</div>
					<div class='col-md-5'>
						<span class='pull-right'>
							{{ad.date | date:'dd-MMM-yyyy'}}
						</span>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-4 image-container'>
						<img src="" data-ng-src="{{ad.imageDataUrl}}">
						<img src="" alt="" data-ng-if="!ad.imageDataUrl" data-ng-src="imgs/no-image.jpg"/>
					</div>
					<div class='col-md-8'>
						<div class='well'>
							{{ad.text}}
						</div>
						<div class='row'>
							<div class='col-md-3 '>
								Category:
							</div>
							<div class='col-md-9 '>
								<div class='form-control'>{{ad.categoryName}}</div>
							</div>
							<div class='col-md-3'>
								Town: 
							</div>
							<div class='col-md-9'>
								<div class='form-control'>{{ad.townName}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class='col-md-3 image-container'>
				<p class='centered'>Status:</p>
				<div class='form-control'>{{ad.status}}
				</div>
				<div ng-switch="ad.status">
					<div ng-switch-when="Published"> <a type="submit" href="" class="btn btn-primary" data-ng-click="deactivateAdStauts(ad)">Deactivate</a>
					</div>
					<div ng-switch-when="WaitingApproval" ><a type="submit" href="" class="btn btn-primary" data-ng-click="deactivateAdStauts(ad)">Deactivate</a>
					</div>
					<div ng-switch-when="Inactive">
						<div class='form-group'><a type="submit" href="" class="btn btn-primary" data-ng-click="loadEditAdPage(ad)">Edit</a>
						</div>
						<div class='form-group'><a type="submit" href="" class="btn btn-primary" data-ng-click="publishAdAgain(ad)">Publish Again</a>
						</div>
						<div class='form-group'><a type="submit" data-ng-click="loadDeleteAdPage(ad)" class="btn btn-primary" data->Delete</a>
						</div>
					</div>
					<div ng-switch-when="Rejected"> Rejected
					</div>
					<div ng-switch-default>Unknown</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div data-ng-if="numItems > 1">
<pagination total-items="numItems" ng-model="adsRequestParams.startPage"
  items-per-page="adsRequestParams.pageSize" ng-change="reloadAds()"
  max-size="9" boundary-links="true">
</pagination>
</div>
<div data-ng-if="numItems == 0" class='well centered'>
	 No ads found.
</div>