<div class="well bs-component">
  <form form class="form-horizontal" name="registerForm" role="registration" data-ng-controller="UserController">
    <fieldset>
      <legend style='text-align:center'>User Registration</legend>
      <div class="form-group">
        <div class='col-lg-4'>
          <label for="inputUsername" class="control-label">Username:</label>
          <div class="form-input username">
            <input type="text" class="form-control" placeholder="Username" name="username" ng-model="registerObj.username" autofocus="true"
            ng-minlength="4" ng-maxlength="16" ng-required="true" remote-validated="used">
            <div class="errors" ng-class="{ active: registerForm.username.$invalid && registerForm.username.$dirty }">
              <div class="error ng-hide" ng-show="registerForm.username.$error.minlength">
                <p>Username is too short!</p>
              </div>
              <div class="error ng-hide" ng-show="registerForm.username.$error.maxlength">
                <p>Max username length is 16, please shorten it.</p>
              </div>
              <div class="error ng-hide" ng-show="registerForm.username.$error.used">
                <p>Username is already taken.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class='col-lg-4'>
          <label for="inputPassword" class="control-label">Password:</label>
          <div class="form-input password">
            <input type="password" class="form-control password" placeholder="Password" name="password" ng-model="registerObj.password" ng-minlength="4" ng-maxlength="16" ng-required="true"password-match="registerObj.confirmPassword" >

            <div class="errors" ng-class="{ active: registerForm.password.$invalid && registerForm.password.$dirty }">
              <div class="error ng-hide" ng-show="registerForm.password.$error.minlength">
                <p>For your own safety, use a password longer than 4 characters.</p>
              </div>
              <div class="error ng-hide" ng-show="registerForm.password.$error.maxlength">
                <p>For your own <b>SANITY</b>, use a password shorter than 16 characters.</p>
              </div>
            </div>
          </div>
        </div>
        <div class='col-lg-4'>
          <label for="inputConfirmPassword" class="control-label">Confirm Password:</label>
          <div class="form-input confirmPassword">

            <input type="password" class="form-control confirmPassword" placeholder="Repeat Password" name="confirmPassword" ng-model="registerObj.confirmPassword" >
            <div class="errors" ng-class="{ active: registerForm.password.$invalid && registerForm.password.$dirty }">
              <div class="error ng-hide" ng-show="registerForm.password.$error.match">
                <p>Passwords do not match.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class='col-lg-4'>
          <label for="inputName" class="control-label">Name:</label>
          <div class="form-input name">
            <input type="text" class="form-control" placeholder="Real Name" name="name" ng-model="registerObj.name" ng-minlength="4" ng-maxlength="32" ng-required="true">
            <div class="errors" ng-class="{ active: registerForm.name.$invalid && registerForm.name.$dirty }">
              <div class="error ng-hide" ng-show="registerForm.name.$error.minlength">
                <p>Provided name is too short!</p>
              </div>
              <div class="error ng-hide" ng-show="registerForm.name.$error.maxlength">
                <p>Max name length is 32, please shorten it.</p>
              </div>
            </div>
          </div>
        </div>
        <div class='col-lg-4'>
          <label for="inputEmail" class="control-label">Email:</label>
          <div class="form-input email">
            <input type="email" class="form-control email" data-ng-pattern="emailPattern" placeholder="E-Mail" id='inputEmail' name="email" ng-model="registerObj.email" ng-required="true" remote-validated="used">
            <div class="errors" ng-class="{ active: registerForm.email.$invalid && registerForm.email.$dirty }">
              <div class="error ng-hide" ng-show="registerForm.email.$error.pattern">
                <p>E-Mail seems invalid.</p>
              </div>
              <div class="error ng-hide" ng-show="registerForm.email.$error.used">
                <p>E-Mail is already taken.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="form-group">
        <div class='col-lg-4'>
          <label for="inputPhone" class="control-label">Phone:</label>
          <input type="text"  class="form-control" id="inputPhone" placeholder="+359 888 888888"
          data-ng-pattern="phonePattern" name="phone" ng-model="registerObj.phone" ng-required="true">
           <div class="errors" ng-class="{ active: registerForm.phone.$invalid && registerForm.phone.$dirty }" >
              <div class="error ng-hide" ng-show="registerForm.phone.$error.pattern">
                <p>Phone seems invalid.</p>
                <p>Format must be +359 888 888888 or 888 888888</p>
              </div>
             
            </div>
        </div>
        <div class='col-lg-4'>
          <label for="inputEmail" class="control-label">Town:</label>
          <select  class='form-control' name="townId" ng-model="registerObj.townId">
           <option data-ng-repeat="town in towns">{{town.name}}</option>
         </select>
       </div>
     </div>

     <div class="form-group">
      <div class="col-lg-offset-1">
        <button type="submit" class="btn btn-primary" data-ng-click="register(registerObj,registerForm)" ng-class="{ 'btn-primary': registerForm.$valid && registerForm.$dirty, 'btn-success': redirect }"
        ng-disabled="registerForm.$invalid || registerForm.$pristine || xhr || redirect">Register</button>
      </div>
    </div>
  </fieldset>
</form>
