<!DOCTYPE html>
<html ng-app="softUniApp">
<head>
	<title>SoftUni app</title>
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/bootstrap.css">
 	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src='lib/jquery.noty.packaged.min.js'></script>
 
  <title>{{page.title}}</title>
</head>

<body  >
  <div id='wrapper'>
    <div class="navbar navbar-default">
    <div class="navbar-header">
      <div class='container'>
        <div class='row'></div>
        <div class='col-lg-4'>
      <a class="navbar-brand" href="#/">Home</a>
        </div>
        <div class='col-lg-5'>
             <h1 class="navbar navbar-text centered">{{page.title}}</h1>
        </div>
        <div class='col-lg-3'>
          <div data-ng-controller="LoginController" >
            <div class='navbar navbar-text navbar-right ' data-ng-if="userData.isLoggedUser()" >
              <div class='navbar-text'>{{userData.getLoggedUser().username}}</div>
              <a href="" data-ng-click="logout()" class='navbar-brand'>Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="notes"></div>
<div data-ng-view class='container'>
</div>
  </div>
  


<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="js/app.js"></script>
<script type="text/javascript" src='js/controllers/MainController.js'></script>
<script type="text/javascript" src='js/controllers/LoginController.js'></script>
<script type="text/javascript" src='js/controllers/UserController.js'></script>
<script type="text/javascript" src='js/controllers/TownsController.js'></script>
<script type="text/javascript" src='js/controllers/CategoriesController.js'></script>
<script type="text/javascript" src='js/controllers/DeleteAdController.js'></script>
<script type="text/javascript" src='js/controllers/EditAdController.js'></script>
<script type="text/javascript" src='js/services/mainPage.js'></script>
<script type="text/javascript" src='js/services/auth.js'></script>
<script type="text/javascript" src='js/services/userData.js'></script>
<script type="text/javascript" src='js/directives/pagination.js'></script>
<script type="text/javascript" src='js/directives/passwordMatch.js'></script>
<script type="text/javascript" src='js/directives/filter-controller.js'></script>
<script type="text/javascript" src='js/directives/filter-ads.js'></script>
<script type="text/javascript" src='js/directives/filter-town.js'></script>
<script type="text/javascript" src='js/directives/filter-category.js'></script>
<script type="text/javascript" src='js/directives/messaging.js'></script>
<script type="text/javascript" src='js/filters/image-filter.js'></script>
<script type="text/javascript" src='js/directives/filereader.js'></script>





</body>
</html>