<div  ng-repeat="ad in dataAds">
	<div class='container well'>
		<div class='row'>
			<div class='col-md-7'>
				<h3 class='pull-left'>
					{{ad.title}}
				</h3>
			</div>
			<div class='col-md-5'>
				<span class='pull-right'>
					{{ad.date | date:'dd-MMM-yyyy'}}
				</span>
			</div>
			
		</div>
		<div class='row'>
			<div class='col-md-4 image-container'>
				<img src="" data-ng-src="{{ad.imageDataUrl}}">
				<img src="" alt="" data-ng-if="!ad.imageDataUrl" data-ng-src="imgs/no-image.jpg"/>
			</div>
			<div class='col-md-8'>
				<div class='well'>
					{{ad.text}}
				</div>
				<div class='row'>
					<div class='col-md-2 '>
						Name 
					</div>
					<div class='col-md-10 '>
						<div class='form-control'>{{ad.ownerName}}</div></div>
						<div class='col-md-2'>
							Email: 
						</div>
						<div class='col-md-10'>
							<div class='form-control'>{{ad.ownerPhone}}</div></div>
							<div class='col-md-2'>
								Tel. 
							</div>
							<div class='col-md-10 '>
								<div class='form-control'>{{ad.ownerEmail}}</div></div>
								<div class='col-md-2'>
									CatId. 
								</div>
								<div class='col-md-10 '>
									<div class='form-control'>{{ad.categoryId}}</div></div>
									<div class='col-md-2'>
										TownId. 
									</div>
									<div class='col-md-10 '>
										<div class='form-control'>{{ad.townId}}</div></div>
									</div>

									<div class='row'>
										<div class='col-md-2'>

										</div>
										<div class='col-md-10'></div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class='center-block'>
						<div ng-if='numPages > 1' pagination></div>
					</div>