<img src="imgs/load.gif"  data-ng-hide="ready" alt="loading img">

<div  ng-repeat="ad in dataAds" data-ng-cloak>
	<div class='container well'>
		<div class='row'>
			<div class='col-md-7'>
				<h3 class='pull-left'>
					{{ad.title}}
				</h3>
			</div>
			<div class='col-md-5'>
				<span class='pull-right'>
					{{ad.date | date:'dd-MMM-yyyy'}}
				</span>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-4 image-container'>
				<img src="" data-ng-src="{{ad.imageDataUrl | searchResultImg}}">
			</div>
			<div class='col-md-8'>
				<div class='well'>
					{{ad.text}}
				</div>
				<div class='row'>
					<div class='col-md-2 '>
						Name 
					</div>
					<div class='col-md-10 '>
						<div class='form-control'>{{ad.ownerName}}
						</div>
					</div>
					<div class='col-md-2'>
						Email: 
					</div>
					<div class='col-md-10'>
						<div class='form-control'>{{ad.ownerPhone}}
						</div>
					</div>
					<div class='col-md-2'>
						Tel. 
					</div>
					<div class='col-md-10 '>
						<div class='form-control'>{{ad.ownerEmail}}
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-2'>

					</div>
					<div class='col-md-10'></div>
				</div>
			</div>
		</div>
	</div>

</div>

<pagination total-items="numItems" ng-model="adsRequestParams.startPage"
  items-per-page="adsRequestParams.pageSize" ng-change="reloadAds()"
  max-size="9" boundary-links="true">
</pagination>
