<div class="panel panel-success" data-ng-controller="TownsController">
	<div class="panel-heading">
		<h3 class="panel-title centered">Towns</h3>
	</div>
	<div class="panel-body" >
		<ul class="nav nav-pills nav-stacked">
			<li data-ng-class="{'active': 'all' == activeTown}"><a href="" data-ng-click="selectedTown()"   >All</a></li>
		</ul>
		<ul class="nav nav-pills nav-stacked" data-ng-repeat="town in towns">
			<li data-ng-class="{'active': town.id == activeTown}" ><a href="" data-ng-click="selectedTown(town.id)"  >{{town.name}}</a></li>
		</ul>
	</div>
</div>
